* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

.hero {
    width: 100%;
}

.featured {
    width: 100%;
}

.locations {
    width: 100%;
}

.contact {
    width: 100%;
}

footer {
    width: 100%;
}